* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F5F5F5;
  max-width: 100%;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.mainButtons {
  border: 1.5px solid rgb(59, 73, 223);
  border-radius: 0.375rem;
  background-color: white;
}
.mainButtons a {
  color: rgb(59, 73, 223);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.mainButtons:hover, .mainButtons:hover a {
  background-color: rgb(59, 73, 223);
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.loginButton {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  height: 80%;
  margin-right: 5px;
  border-radius: 0.375rem;
  background-color: white;
  border: none;
  text-decoration: none;
  border: none;
  color: rgb(133, 133, 133);
}
.loginButton:hover {
  background-color: rgb(221, 224, 250);
  color: rgb(59, 73, 223);
  text-decoration: underline;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  padding: 0 10%;
  background-color: white;
}

.mainButtons {
  height: 80%;
  width: 100%;
  margin-right: 5%;
}

.mainButtons a {
  font-size: 16px;
}

nav .createAccount {
  align-items: center;
  width: 250px;
  height: 100%;
  gap: 10px;
}

nav .createAccount svg {
  width: 50px;
}

nav .navLogo {
  align-items: center;
  gap: 10px;
}

nav .navLogo img {
  align-items: center;
  width: 44px;
  height: 36px;
  gap: 10px;
}

nav .navLogo input {
  width: 420px;
  height: 36px;
  border: 1px solid gray;
  display: none;
  border-radius: 9px;
  padding-left: 10px;
}
nav .navLogo input::-moz-placeholder {
  font-size: 15px;
}
nav .navLogo input::placeholder {
  font-size: 15px;
}

.li {
  align-items: center;
  gap: 20px;
  height: 60px;
  width: 100%;
  padding-left: 15px;
}

.li li {
  list-style: none;
}

.li li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(133, 133, 133);
}

.li li a span {
  color: black;
  font-weight: 500;
}

.aside1 {
  flex-basis: 15%;
  flex-grow: 2;
  gap: 10px;
}
.aside1 .section1 {
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  gap: 20px;
}
.aside1 .section1 h2 {
  font-size: 20px;
}
.aside1 .section1 h3 {
  font-size: 16px;
  font-weight: 300;
}
.aside1 .section1 div {
  gap: 5px;
}
.aside1 .section1 div .mainButtons {
  width: 100%;
  height: 40px;
}
.aside1 .section1 div .loginButton {
  width: 100%;
  height: 40px;
}
.aside1 .section2 {
  padding: 8px 16px;
}
.aside1 .section2 .opt {
  font-weight: 500;
  font-size: 18px;
  padding: 8px;
}
.aside1 .section2 ul {
  height: 400px;
  overflow-y: scroll;
}
.aside1 .section2 ul li {
  list-style: none;
  padding: 8px 16px;
  border-radius: 5px;
}
.aside1 .section2 ul li a {
  text-decoration: none;
  color: black;
  padding: 8px;
}
.aside1 .section2 ul li a:hover {
  color: #2f3ab2;
  text-decoration: underline;
}
.aside1 .section2 ul li:hover {
  background-color: rgba(59, 73, 223, 0.1019607843);
  cursor: pointer;
}
.aside1 .section2 .link_principal {
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
}
.aside1 .section2 .link_principal a {
  text-decoration: none;
  color: black;
  padding: 8px;
}
.aside1 .section2 .link_principal a:hover {
  text-decoration: underline;
  color: #2f3ab2;
}
.aside1 .section2 .link_principal:hover {
  background-color: #E2E3F3;
}
.aside1 .section4 div a {
  color: #404040;
  margin: 2px;
  padding: 5px;
  display: inline-block;
}
.aside1 .section4 div a:hover {
  background-color: rgba(59, 73, 223, 0.1019607843);
  color: #2f3ab2;
  border-radius: 5px;
}
.aside1 .section4 div a svg * {
  fill: currentColor;
}
.aside1 .section5 {
  gap: 10px;
  margin-top: 24px;
}
.aside1 .section5 p {
  color: rgb(133, 133, 133);
}
.aside1 .section5 p a {
  text-decoration: none;
  color: #2f3ab2;
}

.card1 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.card1 .imgPost {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar {
  display: flex;
  flex-direction: row;
  height: 32px;
  width: 32px;
}
.avatar .avatar1 {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.avatar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 32px;
  width: 32px;
}
.avatar .avatar2 {
  position: absolute;
  right: -30%;
  bottom: -30%;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 50%;
}

@media screen and (min-width: 767px) {
  nav .navLogo input {
    display: block;
  }
  nav .createAccount svg {
    display: none;
  }
  nav .createAccount {
    gap: 0px;
  }
  .loginButton {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */