
.mainButtons {
    border: 1.5px solid $button_color;
    border-radius: 0.375rem;
    background-color: white;
  
    a {
      color: $button_color;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
    }
  
    &:hover,
    &:hover a{
      background-color: $button_color;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  