.li {
    align-items: center;
    gap: 20px;
    height: 60px;
    width: 100%;
    padding-left: 15px;

    li {
        list-style: none;

        a {
            font-size: 18px;
            text-decoration: none;
            color: $list_color;

            span{
                color: black;
                font-weight: $bold_text
            }
        }
    }
}






