.li {
    align-items: center;
    gap: 20px;
    padding-left: 15px;

    li {
        list-style: none;

        a {
            font-size: 18px;
            text-decoration: none;
            color: $list_color;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                background-color: white;
                color: blue;
            }

            span{
                color: black;
                font-weight: $bold_text;

                &:hover {
                    color: blue;
                }
            }
        }
    }
}






