.hashtags {
    margin-bottom: 15px;

    div {

        .hText {
            text-decoration: none;
            color: #5B5EAB;
            padding: 4px 7px;
            text-transform: lowercase;
            border-radius: 10px;
            font-size: 15px;

            &:hover {
                color: black;
                background-color: rgba(128, 128, 128, 0.274);
            }

            .hColorP {
                color: purple;
                text-decoration: none;

            }

            .hColorB {
                color: blue;
                text-decoration: none;
            }

            .hColorG {
                color: green;
                text-decoration: none;
            }
        }
    }
}