.hashtags {
    margin-bottom: 15px;
    gap: 10px;

    div {

        .hTextG {

            .hColorG {
                color: green;
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(0, 128, 0, 0.250);
                border: 1px solid green;

            }
        }

        .hTextP {

            .hColorP {
                color: purple;
                text-decoration: none;

            }

            &:hover {
                background-color: rgba(128, 0, 128, 0.250);
                border: 1px solid purple;
            }
        }

        .hTextB {

            .hColorB {
                color: blue;
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(0, 0, 255, 0.250);
                border: 1px solid blue;
            }
        }

        .hTextR {

            .hColorR {
                color: red;
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(255, 0, 0, 0.250);
                border: 1px solid red;
            }

        }

        .hTextC {

            .hColorC {
                color: brown;
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(128, 64, 0, 0.250);
                border: 1px solid brown;
            }

        }

        .hTextY {

            .hColorY {
                color: yellow;
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(251, 255, 0, 0.250);
                border: 1px solid yellow;
            }

        }

        .hText {
            text-decoration: none;
            color: #5B5EAB;
            padding: 4px 7px;
            text-transform: lowercase;
            border-radius: 10px;
            font-size: 15px;

            &:hover {
                color: black;
            }
        }
    }
}