.reactions {
    justify-content: space-between;


    a {
        color: $list_color;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
    }

    .reactionsBackground {

        border-radius: 5px;

        svg {
            cursor: pointer;
        }

       
        &:hover a{
            color: black;
        }

        &:hover {
            background-color: rgba(128, 128, 128, 0.274);
        }

    }
    
    .minRead{
        display: flex;
        justify-content: center;
        gap: 20px;

        span {
            color: $list_color;
        }
    }
}