.comentario{
    font-size: 10px;
}
.titulo{
    background-color: white;
}
.titulo-header{
    padding-left:15px;
    padding-top:10px;
    margin-bottom:10px;
    p{
        font-size: 12px !important;
    }
}
.tarjeta{
    box-sizing: border-box;
    margin-bottom:15px;
    margin-left:15px;
    
    p{
        margin-bottom:5px;
    }
    img{
        width: 30px;
        height:30px;
    }
}
.yellow{
    background-color: orange;  /* Fondo naranja */
    display: inline-block;  /* Para permitir el box-shadow */
    box-shadow: 0 0 5px orange;  /* Sombra naranja */
    padding: 2px; 
}
.trending{
        
        text-align:left;
        padding-left:10px;
        padding-right:10px;
        header{
            margin-bottom: 15px;
        }
}
a.normal{
    text-decoration:none;
    
    cursor:pointer;
    &:hover{
        color:blue;
    }
}
div > a {
    
    text-decoration:none;
    font-size: small;
    text-transform: capitalize;
    cursor:pointer;
    &:hover{
        color:blue;
    }
}
header > a {
    text-decoration:none;
    cursor:pointer;
    &:hover{
        color:blue;
    }
}

.recently{
    
    padding-left:10px;
    padding-right:10px;
    header{
    margin-bottom:15px;

    }
}
.watercooler{
    background-color: white;
}
#derecha {
    background-color: lightgray; 
    
    section{
    margin-bottom:20px;
    }
}
.seccionDerecha{
    box-sizing: border-box;
    border-radius:20px
}
@media screen and (max-width:1024px){
    #derecha{
        display: none;
    }
}